.main {
    width: 100%;
    background-color: var(--grey);
}

a:link {
    text-decoration: none;
}

.h1 {
    font-size: var(--h1_desktop);
    text-align: center;
    color: var(--black);
    margin-right: 120px;
}

.section_newsletter {
    text-align: center;
}

.newsletter {
    font-size: var(--font-newsletter_desktop);
    font-family: var(--font-open);
}

h3 {
    font-size: var(--h3_desktop);
    font-family: var(--font-open);
}