:root{
/* Color styles */
--green: rgba(16, 125, 13, 1);
--blue: rgba(23, 91, 136, 1);
--turquoise: rgba(8, 142, 142, 1);
--grey: rgba(244, 244, 244, 1);
--black: rgba(0, 0, 0, 1);
--white: rgba(255, 255, 255, 1);

/* Text-size styles */
--h1_desktop: 65px;
--h2_desktop: 110px;
--h3_desktop: 37px;
--font-text_desktop: 22px;
--font-newsletter_desktop: 35px;
--font-footer_desktop: 22px;
--font-animation_desktop: 50px;

--h3_phone: 30px;
--font-text_phone: 16px;
--h1_phone: 45px;
--h2_phone: 85px;
--font-animation_phone: 25px;
--font-newsletter_phone: 25px;
--font-footer_phone: 11px;


/* Typo */
--font-impact : 'Impact', sans-serif;
--font-open : 'Open Sans', sans-serif; 
}