.footer {
    margin-top: 87px;
    overflow: hidden;
}

.footer_txt_ml {
    font-size: var(--font-footer_desktop);
    text-align: center;
    z-index: 3;
    margin-top: 130px;
}

.footer_foot {
    position: absolute;
    margin-top: 100px;
    z-index: 1;

}

.footer_tennis {
    position: absolute;
    z-index: 1;
    left: 1150px;
    height: 550px;
}