@media (min-width: 1000px) {

.footer {
    margin-top: 87px;
    overflow: hidden;
}

.footer__ml {
    margin-top: 350px;
    overflow: hidden;
}

.footer_txt_ml {
    font-size: var(--font-footer_desktop);
    text-align: center;
    z-index: 3;
    margin-top: 130px;
    color: black;
}


.footer_txt_ml a {
    text-decoration: none;
    color: var(--black);
}

.footer_foot {
    position: absolute;
    margin-top: 100px;
    z-index: 1;

}

.footer_tennis {
    position: absolute;
    z-index: 1;
    left: 1150px;
    height: 550px;
}
}

@media (max-width: 1000px) {
    
    .footer {
        margin-top: 87px;
        overflow: hidden;
    }

    .footer__ml {
        margin-top: 200px;
        overflow: hidden;
    }


    .footer_txt_ml {
        font-size: var(--font-footer_phone);
        text-align: center;
        z-index: 3;
        margin-top: 200px;

        color: black;
    }

    .footer_txt_ml a {
        text-decoration: none;
        color: var(--black);
    }

    .footer_foot {
        position: absolute;
        margin-top: 100px;
        top: 3600px;
        z-index: 1;

        width: 75%;
    
    }

    .footer_tennis {
        position: absolute;
        z-index: 1;
        height: 0px;

        visibility: hidden;
    }


}