.inscription__title {
    font-size: var(--font-text_desktop);
    font-family: var(--font-open);
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.forms_inscrire {
    background-size: cover;
    text-align: center;
    margin-top: 200px;

    z-index: 2;
}

input {
    border-radius: 5px;
    padding-left: 100px;
    background-color: var(--grey);
}

.btn__inscrire {
    font-size: 20px;
    font-family: var(--font-open);
    color: white;

    background-color: var(--black);
    outline: none;
    border-radius: 70px;
    padding: 10px;
}

.fond__enveloppe {
    position: absolute;
    transform: scale(75%);
    top: 260px;
    left: 450px;


    z-index: -1;
}

form {
    margin-left: -25px;
}